/* Comentarios en CSS */
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1, h2, h3{
  color: #005a9c;
}

section {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
